.profilePicture {
    display: block;
    height: 15%;
}

.card-link li a {
    color: red !important;
}


/*
#profilePage {
    display: flex;
}


#profileBox{
    align-items: flex-start;
   // padding-right: 25%;
    margin-left: 2%;
}

#profilePostBox {
    align-items: flex-end;
    margin-right: 2%;
  //  margin-left: 80%;
}*/
